Repository thesus/claypot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:backend, test:frontend, build:claypot

test:backend:
  image: python:3.8
  stage: test
  tags:
  - docker
  variables:
    DATABASE_URL: postgresql://ci:ci@postgres/claypot
    DJANGO_SECRET_KEY: running-tests
    DJANGO_DEBUG: 'true'
  coverage: /\d+\%\s*$/
  before_script:
  - python -V
  - pip install --cache-dir .cache/pip -r requirements/testing.txt
  script:
  ...

test:frontend:
  image: node:10-alpine
  stage: test
  tags:
  - docker
  before_script:
  - cd frontend
  - yarn install
  script:
  - yarn test:unit
  - node_modules/eslint/bin/eslint.js --ext .js,.vue src
  cache:
    key: frontend
    paths:
    - frontend/node_modules/

build:claypot:
  stage: build
  tags:
  - docker-cli
  before_script:
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
  - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG --pull -f compose/claypot/Dockerfile .
  - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  after_script:
  ...

Apply suggestion to .gitlab-ci.yml
  .gitlab-ci.yml
Due: test:backend, test:frontend, build:claypot

Add `/*` for each `**`
  .gitlab-ci.yml
Due: test:backend, test:frontend, build:claypot

Delete ingredients that are no longer exist
  claypot/api/serializers.py
Due: none

Using Django templates to build individual pages for requests
  .gitignore
  claypot/utils.py
  claypot/views.py
  compose/nginx/default.conf
  config/settings/base.py
  config/urls.py
  frontend/package.json
  frontend/public/index.html
  frontend/src/api.js
  frontend/src/injectedConfig.js
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/store/modules/sentry.js
Due: test:backend, test:frontend, build:claypot

Fix build process
  compose/claypot/Dockerfile
  compose/nginx/Dockerfile
Due: none

Trim copied files down to required ones
  compose/claypot/Dockerfile
  compose/nginx/Dockerfile
Due: none

Remove debug breakpoint
  claypot/views.py
Due: test:backend, build:claypot

Add handling for directly accessing routes with no backend specialization
  config/urls.py
Due: test:backend, build:claypot

Set page title in Javascript
  frontend/src/components/recipe-edit/RecipeEditForm.vue
  frontend/src/locales/en.json
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/store/modules/html-title.js
  frontend/src/views/Home.vue
  frontend/src/views/RecipeDetail.vue
  frontend/src/views/RecipeEdit.vue
  frontend/src/views/accounts/Login.vue
  frontend/src/views/accounts/Logout.vue
  frontend/src/views/accounts/ResetConfirmPassword.vue
  frontend/src/views/accounts/ResetPassword.vue
  frontend/src/views/admin/Admin.vue
  frontend/src/views/admin/IngredientEdit.vue
  frontend/src/views/admin/IngredientList.vue
Due: none

Add missing German translations
  frontend/src/locales/de.json
Due: none

Add page not found view for unknown urls
  frontend/src/router/index.js
  frontend/src/views/PageNotFound.vue
Due: none

Let ngnix handle js and css files
  .dockerignore
  compose/nginx/Dockerfile
  compose/nginx/default.conf
Due: none

Code format
  claypot/views.py
Due: test:backend, build:claypot

Add proxied HTTPS handling for subrequests
  claypot/views.py
Due: test:backend, build:claypot

Add missing translations
  claypot/locale/de/LC_MESSAGES/django.po
  claypot/views.py
Due: test:backend, build:claypot

Path conditions:
  test:backend: any of: config/**, claypot/**, tox.ini, manage.py, tests/**, .gitlab-ci.yml
  test:frontend: any of: frontend/**, .gitlab-ci.yml
  build:claypot: any of: config/**, claypot/**, tox.ini, manage.py, tests/**, .gitlab-ci.yml
